
{% if user.is_authenticated %}
{% if user.groups.all.0.name == "shopkeeper" %}

{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<div class="container mt-4">
  <div class="text-center  mb-4">
    <a href="{% url 'firstapp:create_item' %}" class="btn btn-secondary ">Add Items</a>
  </div>

  <table class="table table-bordered">
    <thead class="table-light">
      <tr>
        <th>#</th>
        <th>Item Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for data in dataset %}
      <tr>
        <td>{{ data.id }}</td>
        <td>{{ data.item_name }}</td>
        <td>{{ data.price }}</td>
        <td>{{ data.quantity }}</td>
        <td>
          <a href="{% url 'firstapp:update_item' data.id %}" class="btn btn-secondary btn-sm">Edit</a>
          <a href="{% url 'firstapp:delete_item' data.id %}" class="btn btn-secondary btn-sm">Delete</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  
  <div class="text-center mt-4">
    <a href="{% url 'firstapp:home' %}" class="btn btn-secondary">Go to Home</a>
</div>
    {% endif %}
{% endif %}